<div>
  <div>
    <app-header (OpenDialog)="openLogin()"></app-header>
    <router-outlet></router-outlet>
  </div>
  <div class="my-dialog">
    <p-dialog
      [header]="titleModal"
      [modal]="true"
      [(visible)]="visible"
      (onHide)="handleCloseDialog()"
      position="center"
      focusOnShow="false"
    >
      @if (loginVisible){
      <app-login
        #loginRef
        (signupClicked)="switchToSignup()"
        (loginCloseDialog)="onCloseDialog()"
      ></app-login>
      } @if (signupVisible){
      <app-signup
        #signupRef
        (loginClicked)="switchToLogin()"
        (registeredCloseDialog)="onCloseDialog()"
      ></app-signup>
      }
    </p-dialog>
  </div>
</div>
<p-toast />
