<header
  [ngClass]="{ 'border-b border-gray-200 backdrop-blur-[2px]': border }"
  class="bg-white sticky top-0 z-50 shadow-xs"
>
  <div class="flex justify-between items-center container mx-auto py-2.5 px-4 sticky top-0 z-50">
    <a routerLink="/">
      <span class="text-xl font-bold tracking-tight text-slate-800 dark:text-white"
        >Resume<span class="text-primary">Builder</span></span
      >
    </a>

    <div>
      <!-- Show user menu when logged in and showMenu true -->
      @if (isLoggedIn && currentUser) {
        <div>
          <p-popover #op [focusOnShow]="false">
            <ng-template #content>
              <div class="flex flex-col items-start gap-2.5 p-2">
                <div class="flex gap-4 items-center">
                  @if (currentUser.avatar) {
                    <img [src]="currentUser.avatar" [alt]="currentUser.name" />
                  } @else {
                    <p-avatar icon="pi pi-user" size="large" shape="circle" />
                  }
                  <span class="text-base font-semibold text-slate-700">{{ currentUser.name }}</span>
                </div>

                @if (!isOnDashboard) {
                  <p-button
                    label="Resume management"
                    size="small"
                    routerLink="/dashboard"
                    variant="text"
                    severity="secondary"
                  />
                }
                <p-button
                  label="Account settings"
                  variant="text"
                  size="small"
                  routerLink="/dashboard"
                  variant="text"
                  severity="secondary"
                />
                <div class="h-px w-full bg-gray-200"></div>
                <p-button
                  (onClick)="logout()"
                  size="small"
                  label="Logout"
                  icon="pi pi-sign-in"
                  variant="text"
                  severity="secondary"
                />
              </div>
            </ng-template>
          </p-popover>
          <div
            (click)="op.toggle($event)"
            class="cursor-pointer flex items-center gap-3 px-2 py-1.5 rounded-full bg-slate-100 dark:bg-slate-800 border border-slate-200 dark:border-slate-700"
          >
            <span class="text-sm font-medium text-slate-600 dark:text-slate-300 ml-2">{{
              currentUser.name
            }}</span>
            <div
              class="w-8 h-8 rounded-full bg-slate-300 dark:bg-slate-600 flex items-center justify-center text-slate-600 dark:text-slate-300 overflow-hidden"
            >
              <p-avatar icon="pi pi-user" size="normal" shape="circle" />
            </div>
          </div>
        </div>
      }

      <!-- Show login button when not logged in OR while waiting for menu to appear -->
      @if (!isLoggedIn) {
        <button
          (click)="showDialog()"
          class="bg-purple-100 text-sm font-semibold text-black px-7 py-2.5 rounded-lg hover:bg-gray-800 hover:text-white transition-colors cursor-pointer"
        >
          Login
        </button>
      }
    </div>
  </div>
</header>
