<div class="mt-6 animate__animated animate__fadeIn" [formGroup]="profileForm">
  <h2 class="text-lg font-semibold text-gray-900">Personal Information</h2>
  <div class="text-center">
    <input
      #fileUpload
      type="file"
      class="hidden"
      accept="image/*"
      (change)="onFileSelect($event)"
    />
    <div class="relative inline-block cursor-pointer" (click)="fileUpload.click()">
      @if (previewUrl) {
        <p-avatar
          [image]="previewUrl"
          shape="circle"
          (click)="$event.stopPropagation()"
          [style.cursor]="previewUrl ? 'default' : 'pointer'"
          [ngClass]="{ 'bg-purple-200! text-purple-600!': !previewUrl }"
          size="xlarge"
        >
        </p-avatar>
      } @else {
        <p-avatar
          icon="pi pi-user"
          size="xlarge"
          styleClass="bg-purple-200!  text-purple-600!"
          shape="circle"
        />
      }

      @if (previewUrl) {
        <div
          (click)="removeImage($event, previewUrl)"
          class="absolute flex items-center justify-center p-2 bottom-0 -right-2 rounded-full border bg-purple-500 border-gray-200 cursor-pointer"
        >
          <i style="font-size: 0.75rem" class="pi pi-trash text-white hover:opacity-75"></i>
        </div>
      } @else {
        <div
          class="absolute flex items-center justify-center p-2 bottom-0 -right-2 rounded-full border bg-purple-500 border-gray-200 cursor-pointer"
        >
          <i style="font-size: 0.75rem" class="pi pi-upload text-white"></i>
        </div>
      }
    </div>
    <div class="w-full flex justify-center mt-2">
      <p-progressbar
        [style]="{ height: '3px', width: '80px' }"
        color="oklch(72.7% 0.119 306.383)"
        [value]="valueProgress"
        showValue="false"
        [hidden]="isProgress"
      ></p-progressbar>
    </div>
  </div>
  <div class="mt-12">
    <div class="flex items-center flex-col md:flex-row gap-4 justify-between">
      <app-input-field
        label="Full Name"
        class="w-full"
        formControlName="fullName"
        placeholder="Truong Van A"
      ></app-input-field>
      <app-input-field
        label="Designation"
        class="w-full"
        formControlName="designation"
        placeholder="Sorftware Engineer"
      ></app-input-field>
    </div>
    <app-textarea
      label="Summary"
      formControlName="summary"
      placeholder="Write a brief summary about yourself..."
    ></app-textarea>
  </div>
  @if (errMessage) {
    <p-message
      size="small"
      severity="warn"
      icon="pi pi-exclamation-circle"
      [text]="errMessage"
      styleClass="mt-4"
    />
  }
</div>
