<div class="flex flex-col gap-4 my-input">
  <label [for]="name" class="text-[16px] text-slate-900">{{ label }}</label>
  <!-- Nếu là password thì dùng p-password -->
  @if (type === 'password') {
  <p-password
    fluid
    [toggleMask]="true"
    [feedback]="false"
    variant="filled"
    [attr.id]="name"
    [attr.name]="name"
    [(ngModel)]="value"
    (ngModelChange)="handleInput($event)"
    [disabled]="disabled"
    [placeholder]="placeholder"
    (onBlur)="onBlur()"
    [invalid]="isInvalid()"
    [minlength]="minlength"
  />
  } @else {
  <input
    pInputText
    fluid
    [invalid]="isInvalid()"
    variant="filled"
    [type]="type"
    [attr.id]="name"
    [attr.name]="name"
    [(ngModel)]="value"
    (ngModelChange)="handleInput($event)"
    [disabled]="disabled"
    [placeholder]="placeholder"
    (blur)="onBlur()"
  />
  } @if(isInvalid()){
  <p-message severity="error" size="small" variant="simple">
    {{ getErrorMessage() }}
  </p-message>
  }
</div>
