<div
  class="flex flex-col bg-slate-100 cursor-pointer rounded-xl overflow-hidden border hover:border-purple-300 border-slate-200 shadow-sm hover:shadow-xl hover:-translate-y-1 transition-all duration-300"
>
  <div class="p-4">
    <div [style.backgroundColor]="bgColor" class="overflow-hidden rounded-lg">
      <div class="p-6">
        @if(imgUrl){
        <img
          [src]="imgUrl"
          alt="Resume thumbnail"
          height="200"
          class="w-full h-50 object-contain rounded"
        />
        } @else{
        <div></div>
        }
      </div>
    </div>
  </div>

  <div class="p-5 bg-white flex flex-col grow">
    <div class="flex justify-between items-start mb-2">
      <h3 class="font-bold text-lg text-slate-800 dark:text-white truncate">{{ title }}</h3>
    </div>
    <div class="mt-auto">
      <div class="flex items-center gap-2 text-xs text-slate-500 dark:text-slate-400">
        <span class="pi pi-clock text-sm"></span>
        <span>Last Updated: {{ lastUpdated }}</span>
      </div>
    </div>
  </div>
</div>
