<div class="pt-5 animate__animated animate__fadeIn">
  <h2 class="text-lg font-semibold text-gray-900">Certifications</h2>

  <div class="flex flex-col gap-4 mb-3 mt-4">
    @for (cer of certifications.controls; track $index) {
      <div
        [formGroup]="getFormGroup($index)"
        class="border border-gray-200/80 p-4 flex flex-col gap-4 rounded-lg relative"
      >
        @if (certifications.controls.length > 1) {
          <p-button
            size="small"
            icon="pi pi-trash"
            class="absolute top-1.5 right-1.5"
            (onClick)="remove.emit($index)"
            [rounded]="true"
            [text]="true"
            severity="danger"
          />
        }
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <app-input-field
            label="Certificate Name"
            formControlName="name"
            type="text"
            placeholder="Back end developer"
          ></app-input-field>
          <app-input-field
            label="Issuer"
            formControlName="issuer"
            type="text"
            placeholder="Coursear/Google"
          ></app-input-field>
        </div>
        <app-input-field type="date" label="Year" view="year" dateFormat="yy" formControlName="year"></app-input-field>
      </div>
    }
    <p-button
      label="Add Certification"
      (onClick)="add.emit()"
      icon="pi pi-plus"
      variant="outlined"
      severity="help"
      size="small"
    />
  </div>
</div>
